@font-face {
    font-family: Norse-Bold;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

body {
    background-color: #F9FAFB;
    font-family: 'Roboto', sans-serif;
    /* Use Roboto font */
}

#page-container {
    display: flex;
    height: 100vh;
}

#left-pane {
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    /* min-width: 460px; */
    padding-top: 195px;
    flex: 1 1 40%;
}

#banner {
    height: 130px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Norse-Bold";
    background-color: rgba(0, 0, 0, 40%);
    padding: 10px 0;
}

#banner img {
    max-height: 100%;
}

#banner p {
    text-align: center;
    color: white;
    font-size: 5em;
}

#photo-credit {
    justify-content: center;
    margin: auto auto 10px auto;
    align-self: flex-end;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: underline;
}

#right-pane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 60%;
}

#form-container {
    display: flex;
    box-shadow: 4px 4px 10px -5px #000;
}

#sign-up-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    margin: 5px 0;
}

label,
input {
    max-width: 250px;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 2px;
}

input {
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

input:focus {
    border-color: #596D48;
    box-shadow: 0 0 0.1em #596D48;
    padding: auto;
    background-color: rgba(249, 250, 251, 80%);
    outline: none;
}

input:invalid {
    border-color: red;
}

input.invalid {
    border-color: red;
}

button {
    background-color: #596D48;
    border-radius: 10px;
    padding: 10px 30px;
    max-width: 160px;
    color: #fff;
    flex: 0 0;
}

button:hover {
    cursor: pointer;
}

#log-in-link {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

#intro {
    font-weight: 400;
}

#intro>:last-child {
    margin-top: 1em;
}

#form-container {
    background-color: #fff;
    min-width: 100%;
    flex-direction: column;
}

.right-pane-padding {
    padding: 30px 40px;
}

#buttons>button {
    margin-top: 20px;
    min-width: 180px;
}

#buttons>button:hover {
    background-color: rgba(89, 109, 72, 90%);
}

#buttons>button:active {
    background-color: rgba(89, 109, 72, 100%);
}

#buttons>p {
    margin-top: 20px;
}

#form-message {
    font-weight: 600;
    margin-bottom: 20px
}

#log-in-link:hover {
    color: rgba(89, 109, 72, 90%);
}

#log-in-link:active {
    color: rgba(89, 109, 72, 100%);
}